@font-face {
    font-family: 'Estedad';
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Estedad.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Estedad';
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Estedad.woff2") format("woff2");
  }
  
  @font-face {
    font-family: 'Estedad';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Estedad.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Estedad';
    font-style: normal;
    font-weight: 950;
    src: url("fonts/Estedad.woff2") format("woff2");
  }

body {
    font-family: 'Estedad', sans-serif;
    direction: rtl;
    text-align: right;
}

/* Header Styles */
header {
    padding: 10px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav.ml-auto {
    margin-left: auto;
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-nav .nav-link {
    color: #EEEEEE;
}

.navbar-nav .nav-link i {
    font-size: 1.2rem;
}


/* Footer Styles */
footer {
    background-color: #222831;
    color: #EEEEEE;
    padding: 20px 0;
}

.footer-logo {
    max-width: 150px;
}

.footer-description {
    text-align: justify;
    direction: rtl;
    margin-top: 10px;
}

.footer-nav {
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
}

.footer-nav .nav-item {
    margin-bottom: 2px;
}

.footer-nav .nav-link {
    color: #EEEEEE;
    text-decoration: none;
    display: block;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.newsletter-email {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    flex: 1;
    height: 50px;
}

.newsletter-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post-detail {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.featured-image {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.author-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.post-meta {
    margin: 10px 0;
}

.post-content {
    margin-top: 20px;
    text-align: justify;
}

.social-share {
    margin-top: 20px;
}

.social-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    background-color: #333;
    transition: background-color 0.3s, transform 0.3s;
}

.social-btn:hover {
    background-color: #555;
    transform: scale(1.1);
}

.social-btn.telegram {
    background-color: #0088cc;
}

.social-btn.linkedin {
    background-color: #0077b5;
}

.social-btn.twitter {
    background-color: #1da1f2;
}

.social-btn.instagram {
    background-color: #e4405f;
}

.social-btn.print {
    background-color: #000000;
}

.divider {
    border: none;
    border-top: 3px solid #000;
    margin: 20px 0;
}

.latest-posts {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0;
}

.list-group-item {
    display: flex;
    border: none;
    padding: 10px 0;
}

.latest-post-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 10px;
}

.latest-post-title {
    margin-right: 10px;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.latest-post-title a {
    color: #000;
    text-decoration: none;
}

.latest-post-meta {
    margin-right: 10px;
    font-size: 0.9em;
    color: #555;
}

/* Styles for the home page */
.home-content {
    margin-top: 20px;
}

/* Styles for the featured post */
.home-featured-post {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.home-featured-post-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 5px;
}

.home-featured-post-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home-featured-post-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.home-featured-post-overlay-content {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Styles for the latest posts */
.home-latest-posts {
    margin: 50px 0;
}

.home-latest-post {
    padding: 50px;
}

.home-latest-post-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}

.home-latest-post-content{
    margin-top: 15px;
    margin-right: 15px;
}

.home-latest-post-title {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.home-latest-post-title a {
    color: #000;
    text-decoration: none;
}

.home-latest-post-meta {
    font-size: 0.9em;
    color: #555;
}

.home-popular-posts {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 0;
}

.home-popular-list-group-item {
    list-style-type: none;
    border: none;
    padding: 10px 0;
}

.home-popular-post-title {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.home-popular-post-title a {
    color: #000;
    text-decoration: none;
}

.home-popular-post-meta {
    font-size: 0.9em;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    border-radius: 5px;
    padding: 0.5em 0.75em;
    border: 1px solid #dee2e6;
    color: #007bff;
    background-color: #fff;
    text-align: center;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
