asgiref==3.8.1
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.1.5
django-ckeditor==6.7.1
django-ckeditor-5==0.2.13
django-jalali==7.1.0
django-js-asset==2.2.0
django-tinymce==4.1.0
httplib2==0.22.0
idna==3.8
jalali_core==1.0.0
jdatetime==5.0.0
oauthlib==3.2.2
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.4
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2