{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ post.title }} - Medx{% endblock %}

{% block content %}
<div class="post-detail">
    <div class="row mb-1">
        <div class="col-md-8">
            <h1>{{ post.title }}</h1>
            <div class="author-info">
                <img src="{{ post.author.userprofile.profile_picture.url }}" alt="Profile Picture" class="author-image">
                <span>{{ post.author.first_name }} {{ post.author.last_name }}</span>
            </div>
            <div class="post-meta">
                <span>{{ post.publish_date|to_jalali|persian_numbers }} | زمان مطالعه: {{ post.read_time|persian_numbers }} دقیقه</span>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ post.featured_image.url }}" alt="Featured Image" class="img-fluid featured-image">
        </div>
    </div>

    <!-- Post Content -->
    <div class="post-content">
        {{ post.content|safe }}
    </div>

    <!-- Horizontal Divider -->
    <hr class="divider">

    <!-- Social Share Buttons -->
    <div class="social-share">
        <h3>اشتراک گذاری</h3>
        <div class="social-buttons">
            <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" class="social-btn telegram"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank" class="social-btn linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" class="social-btn twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank" class="social-btn instagram"><i class="fab fa-instagram"></i></a>
            <a href="javascript:window.print()" class="social-btn print"><i class="fas fa-print"></i></a>
        </div>
    </div>

    <!-- Horizontal Divider -->
    <hr class="divider">

    <!-- Latest Posts -->
    <div class="latest-posts">
        <h3>آخرین مطالب</h3>
        <ul class="list-group latest-posts">
            {% for latest_post in latest_posts %}
                <li class="list-group-item d-flex">
                    <div class="p-0 latest-post-thumbnail">
                        <a href="{% url 'post_detail' slug=latest_post.slug %}">
                            <img src="{{ latest_post.featured_image.url }}" alt="Post Thumbnail">
                        </a>
                    </div>
                    <div class="latest-post-more">
                        <h4 class="latest-post-title"><a href="{% url 'post_detail' slug=latest_post.slug %}">{{ latest_post.title }}</a></h4>
                        <span class="latest-post-meta">{{ latest_post.author.first_name }} {{ latest_post.author.last_name }} | {{ latest_post.publish_date|to_jalali|persian_numbers }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
